.fh5co-reviews-outer {
    margin-bottom: 250px !important;
}

.container.fh5co-hero-inner img {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.connectedContainer {
    text-align: center;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.connectedContainer p {
    opacity: 1 !important;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.innerConnectedContainer {
    background-color: rgba(160, 191, 229, 0.4);
    padding: 5px;
}

hr {
   margin: 5px;
}

.deviceText {
    margin-top: 12px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.innerConnectedContainer .btn {
    margin-top: 6px;
}