.fh5co-reviews-outer {
    margin-bottom: 250px !important;
}

.container.fh5co-hero-inner img {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.connectedContainer {
    text-align: center;
    height: 85vh;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    margin-bottom: 100px;
}

.connectedContainer::-webkit-scrollbar {
    display: none;
}

.connectedContainer p {
    opacity: 1 !important;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.innerConnectedContainer {
    background-color: rgba(160, 191, 229, 0.4);
    padding: 5px;
}

hr {
   margin: 5px;
}

.deviceText {
    margin-top: 12px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.innerConnectedContainer .btn {
    margin-top: 6px;
}

.innerConnectedContainer .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.imgHolder img {
    height: 260px !important;
    width: 260px !important;
    margin-bottom: 40px;
}

.imgHolder {
    width: 100%;
    text-align: center;
}

.nameHolder p {
    opacity: 1 !important;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 650;
    color: white;
}

.nameHolder {
    width: 100%;
    text-align: center;
}

label {
    width: 150px;
    text-align: right;
    margin-right: 30px;
    font-weight: 600;
    color: white;
}

.submitHolder {
    text-align: center;
}

form {
    margin-top: 40px;
}

.suggestHolder {
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

input {
    text-align: center;
    width: 170px;
}

.pHolder {
    text-align: center;
    margin: 30px;
    font-weight: 500;
    font-size: 60px;
    color: white;
    width: 100%;
}

.bHolder {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.bHolder button {
    width: 200px;
}

.buttonsForStatistics {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.buttonsForStatistics button {
    width: 150px;
    margin-left: 40px;
    margin-right: 40px;
}